.box{
    display:flex;
    z-index: -1;
    flex-wrap: wrap;
}

.pro-1{
    flex:1;
    height: fit-content;
    margin: 30px;
}
.pro-2{
    flex:1;
    height: fit-content;
    margin: 30px;
}
.pro-3{
    flex:1;
    height: fit-content;
    margin: 30px;
}
#g, #g1, #g2, #g3, #g4, #g5, #g6, #g7,#g8,#g9,#g10,#g11,#g12,#g13,#g14, #g15,#g16{
    animation: social 15s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes social {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.gear{
    height: auto;
    width: 1500px;
}
