.box{
    display:flex;
    background: url(../../assets/gear.svg);
    z-index: -1;
    flex-wrap: wrap;
}

.pro-1{
    flex:1;
    height: fit-content;
    margin: 30px;
}
.pro-2{
    flex:1;
    height: fit-content;
    margin: 30px;
}
.pro-3{
    flex:1;
    height: fit-content;
    margin: 30px;
}